@import "compass_twitter_bootstrap";
.current-exercise {
  font-size: 4em;
  line-height: 1em;
}
.input-mini {
	width: 30px;
}
.exercise-list {
	list-style: none;
	margin-left: -20px;
}
.timer-label {
	font-size: 6em;
	line-height: 1em;
}
.timer {
	@extend .timer-label;
	font-family: 'Orbitron';
	color: rgb(223, 76, 76);
}
.edit {
	// margin-bottom: 10px;
	// margin-top: 10px;
	padding-top: 5px;

}
.edit-form {
	margin-left: 20px;
}
// bootstrap overrides
.input-xlarge {
	width: 266px;
}
form {
	margin: 0;
}

@media only screen and (max-width: 1199px) {
	.timer, .timer-label { font-size: 5em; }
}
@media only screen and (max-width: 760px) {
	.timer, .timer-label { font-size: 4em; }
}
@media only screen and (max-width: 640px) {
	.timer, .timer-label { font-size: 3em; }
}
@media only screen and (max-width: 320px) {
	.timer, .timer-label { font-size: 1em; }
}