<div class='container-fluid'>
  <button class='btn-primary btn' ng-disabled='inProgress' ng-click='getReady()'>Start</button>
  <button class='btn' ng-click='reset()'>Reset</button>
  <h3>Current exercise</h3>
  <div class='current-exercise'>
    {{currentExercise.title}} - time left - {{currentTimeLeft}}
  </div>
  <div ng-show="prepare">Get ready! {{iterations}}...</div>
  <form ng-submit="addExercise()" class="form-inline">
  <ul>
    <li ng-class="{true:'muted', false:''}[exercise.complete]" class='span12' ng-repeat="exercise in exercises">
        {{exercise.title}} for {{exercise.length}} seconds <button ng-click='edit($index)' class='btn'><i class="icon-edit"></i></button> <button ng-click="delete($index)" class='btn'><i class="icon-trash"></i></button>
    </li>

    <li>
      <input required type="text" ng-model='newExercise.title' class="input-medium"> for
      <input required min="1" type="number" ng-model='newExercise.length' class="input-mini"> seconds
      <button type='submit' class="btn btn-primary"><i class='icon-plus icon-white'></i></button>
    </li>
  </ul>
  </form>


</div>
<audio id='quiet-ring' src="sounds/quiet-bell-ring.mp3" preload="auto"></audio>
